/* CSS Reset */
* {
margin: 0;
padding: 0;
box-sizing: border-box;
} 

#logo { 
    height: 100px;
    width: auto;
    vertical-align: middle;
    text-align: center;
    margin: 0;
    
}

/* # Header */
header {
    background-color: transparent;
}

.navbar {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar > * {
    flex-basis: 40%;
    padding: 10px 0;
    background-color: rgb(34, 180, 34);
}

.navbar-menu {
    flex-grow: 1;
    text-align: center;
}

.navbar-actions {
    text-align: right;
}

/* Card */

.card {
    border-radius: 5px;
    background-color: white;
}

.card-header {
    padding: 20px 30px;
    border-bottom: 2px solid gray;
}

.card-body {
    padding: 40px 30px;
    color: white;
}

.barra-colorata1 {
  width: 200px; /* Larghezza della barra */
  height: 20px; /* Altezza della barra */
  background-color:  darkgoldenrod; /* Colore di sfondo */
  margin: 10px; /* Margine */
}

.barra-colorata2 {
  width: 400px; /* Larghezza della barra */
  height: 20px; /* Altezza della barra */
  background-color:  green; /* Colore di sfondo */
  margin: 10px; /* Margine */
}

.barra-colorata3 {
  width: 100px; /* Larghezza della barra */
  height: 20px; /* Altezza della barra */
  background-color:  darkred; /* Colore di sfondo */
  margin: 10px; /* Margine */
}

body {
    background-image: url("/img/background.jpg");
    background-size: cover;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.article-header {
    color: rgb(58, 178, 58);
    text-align: center;
}

.container {
  background-color: rgba(0, 0, 0, 0.5); /* Sfondo nero trasparente */
}

#main-header {
    text-align: center;
}

.barra-colorata10 {
  background-color: #f0f0f0; /* Colore di sfondo della barra */
  padding: 10px; /* Spaziatura interna */
  display: flex; /* Utilizza flexbox per allineare i bottoni */
  justify-content: space-around; /* Distribuisce i bottoni uniformemente */
}

.bottone {
  background-color: #4CAF50; /* Colore di sfondo del bottone */
  border: none; /* Rimuove il bordo */
  color: white; /* Colore del testo */
  padding: 10px 20px; /* Spaziatura interna */
  text-align: center; /* Testo centrato */
  text-decoration: none; /* Rimuove la sottolineatura */
  display: inline-block; /* Fa in modo che il bottone si adatti al contenuto */
  font-size: 16px; /* Dimensione del testo */
  cursor: pointer; /* Cambia il cursore al passaggio del mouse */
  border-radius: 5px; /* Arrotonda gli angoli */
}

.bottone:hover {
  background-color: green; /* Cambia colore al passaggio del mouse */
}

